<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG7_EjOI-4K0l5EfE1lcK_9AqaeoggjGk</string>
	<key>GCM_SENDER_ID</key>
	<string>569440550273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.attaqwaapp</string>
	<key>PROJECT_ID</key>
	<string>at-taqwa-app-14b7f</string>
	<key>STORAGE_BUCKET</key>
	<string>at-taqwa-app-14b7f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569440550273:ios:15d97a6c1924536543fc80</string>
</dict>
</plist>